:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --button-radius: 35px;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

/*Header*/

.header {
    width: 100vw;
    height: 4rem;
    box-shadow: 0 4px 7px rgba(0,0,0,.2);
}

.container {
    width: 1352px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-family: var(--font-raleway);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-primary);
}

.header__nav {
    display: flex;
}

.nav__element {
    padding: 0 30px;
}

.nav__element:last-child {
    padding-right: 0;
}

.nav__link {
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--font-open-sans);
    color: var(--color-grey);
    font-size: 0.6875rem;
    font-weight: bold;
    padding: 28px 18px 22px;
    letter-spacing: 0.1875rem;
    border-bottom: 4px solid transparent;
}

.nav__link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}

/*Opening section*/

.opening {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.opening__content {
    text-align: center;
    margin-top: 100px;
}

.opening__header {
    font-family: var(--font-raleway);
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-black);
}

.opening__text {
    font-family: var(--font-open-sans);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-black);
    margin: 2rem 0;
}

.btn {
    color: var(--color-white);
    font-family: var(--font-open-sans);
    font-weight: bold;
    display: inline-block;
    padding: 15px 50px;
    border-radius: var(--button-radius);
    border: none;
}

.btn__opening {
    background-color: var(--color-primary);
    text-decoration: none;
    font-size: 1rem;
    padding: 20px 150px;
}

.opening__image {
    width: 100%;
    height: auto;
}

/*statistics*/

.statistics {
    margin-top: 100px;
}

.statistics__title {
    text-align: center;
    font-family: var(--font-raleway);
    font-size: 2.3rem;
    font-weight: 400;
}

.statistics__container {
    max-width: 800px;
    margin: 100px auto 120px;
    display: flex;
    justify-content: space-between;
}

.statistics__box {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: var(--font-raleway);
}

.statistics__circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: relative;
}

.statistics__image {
    position: absolute;
}

.statistics__box:nth-child(1) .statistics__circle {
    background-color: var(--color-redish);
}

.statistics__box:nth-child(1) .statistics__image {
    top: 0;
    left: 45%;
}

.statistics__box:nth-child(2) .statistics__circle {
    background-color: var(--color-primary);
}

.statistics__box:nth-child(2) .statistics__image {
    top: 20%;
    left: 30%;
}

.statistics__box:nth-child(3) .statistics__circle {
    background-color: var(--color-green);
}

.statistics__box:nth-child(3) .statistics__image {
    top: 5%;
    left: 50%;
}

.statistics__number {
    font-family: var(--font-raleway);
    font-size: 1.23rem;
    font-weight: 800;
    margin: 12px 0;
    letter-spacing: 0.1875rem;
}

.statistics__text {
    font-family: var(--font-raleway);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-grey);
}

/*benefits*/

.benefits {
    width: 100%;
    padding: 100px 0;
    background-color: var(--color-light-grey);
}

.benefits__container {
    padding: 0 130px;
}

.benefits__box {
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    border-radius: 5px;
}

.benefits__text {
    max-width: 400px;
    margin: 90px 40px;
}

.benefits__text::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: var(--accent-color);
    display: block;
    margin-top: 50px;
}

.benefits__title {
    font-family: var(--font-raleway);
    font-size: 2.3rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.benefits__description {
    font-family: var(--font-open-sans);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.benefits__image {
    position: relative;
}

.benefits__image img {
    position: relative;
    z-index: 2;
}

.benefits__box--notebook {
    --accent-color: var(--color-redish);
}

.benefits__single--notebook .benefits__image {
    margin-right: 100px;
    margin-bottom: 35px;
}

.benefits__box--notebook .benefits__image::before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--accent-color);
    display: block;
    border-radius: 40px;
    position: absolute;
    top: 75px;
    right: 100px;
    transform: rotate(45deg);
}

.benefits__box--notebook .benefits__image img {
    width: 370px;
    height: auto;
    position: relative;
    top: 110px;
    right: 100px;
    z-index: 2;
}

.benefits__box--phone {
    --accent-color: var(--color-primary);
    flex-direction: row-reverse;
    padding: 0 20px 0 70px;
}

.benefits__box--phone .benefits__image img {
    width: 420px;
    height: auto;
    top: 30px;
    left: 10px;
}

.benefits__box--phone .benefits__text {
    margin: 70px 0;
}

.benefits__box--phone .benefits__image::before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--accent-color);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 10px;
}

.benefits__doublebox {
    --accent-color: var(--color-green);
    display: flex;
}

.benefits__doublebox--voice {
    width: 100%;
}

.benefits__doublebox--voice .benefits__doublebox--text {
    width: none;
    margin: 100px 35px;
}

.benefits__doublebox--text::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: var(--accent-color);
    display: block;
    margin-top: 50px;
}

.benefits__box--image {
    flex-grow: 1;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border: none;
    margin-left: 60px;
}

.benefits__box--image img {
    width: 320px;
    height: auto;
    margin-top: 50px;
}

/*pricing*/

.pricing {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing h2 {
    font-family: var(--font-raleway);
    font-size: 2.3rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.pricing__boxes {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pricing__box {
    width: 360px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--accent-color);
}

.pricing__pay {
    margin-top: 35px;
    margin-bottom: 60px;
    text-align: center;
}

.pricing__type {
    font-size: 1.25rem;
    font-family: var(--font-raleway);
    font-weight: 700;
}

.pricing__price {
    font-size: 2.875rem;
    font-family: var(--font-open-sans);
    font-weight: 300;
    margin-top: 25px;
    color: var(--accent-color);
}

.pricing__limited {
    text-align: center;
    margin-top: 15px;
    font-size: 0.75rem;
    font-family: var(--font-raleway);
    font-weight: 700;
}

.pricing__details {
    text-align: center;
}

.pricing__item {
    font-family: var(--font-open-sans);
    font-size: 14px;
    margin-bottom: 20px;
}

.pricing__item::before {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 9px;
    background-image: url("../assets/Checkmark-1.svg");
}

.pricing__item--not::before {
    background-image: url("../assets/Close.svg");
}

.pricing__box .btn {
    position: relative;
    bottom: -25px;
    font-size: 0.8125rem;
    background-color: var(--accent-color);
    text-decoration: none;
}

/*basic*/

.pricing__box--basic {
    position: relative;
    top: 10px;
    height: 430px;
    --accent-color: var(--color-redish);
}

.pricing__box--basic .pricing__price {
    margin-bottom: 30px;
}

/*professional*/

.pricing__box--professional {
    --accent-color: var(--color-primary);
    width: 400px;
    margin: 0 40px;
    box-shadow: 5px 1px 27px var(--color-primary-shadow);
}

.pricing__box--professional .pricing__type {
    font-size: 1.3125rem;
}

.pricing__box--professional .pricing__item {
    margin-bottom: 25px;
}

/*premium*/

.pricing__box--premium {
    position: relative;
    top: 10px;
    height: 430px;
    --accent-color: var(--color-green);
}

.pricing__box--premium .pricing__price {
    margin-bottom: 20px;
}

/*contact*/

.contact {
    padding: 80px 100px 100px;
    display: flex;
    justify-content: center;
}

.contact__column {
    width: 50%;
}

.contact__title {
    font-family: var(--font-raleway);
    font-size: 3.0625rem;
    line-height: 3.6875rem;
}

.contact__instruction {
    margin: 22px 0 42px;
    font-family: var(--font-open-sans);
    font-size: 1rem;
    line-height: 1.375rem;
}

.contact__details {
    display: flex;
    justify-content: flex-start;
    color: var(--color-grey);
    align-items: center;
}

.details__item {
    color: var(--color-grey);
    font-family: var(--font-open-sans);
    font-weight: 500;
    text-decoration: none;
}

.details__item:first-of-type {
    margin-right: 20px;
}

.details__item img {
    margin-right: 10px;
}

/*form*/

.form {
    display: flex;
    flex-direction: column;
}

.form__field {
    display: flex;
    flex-direction: column;
}

.form__field:first-of-type {
    margin-bottom: 42px;
}

.form__label {
    font-family: var(--font-open-sans);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-primary);
    line-height: 0.9rem;
    letter-spacing: 3px;
    font-size: 0.6875rem;
}

.form__input {
    border: none;
    border-bottom: 1px solid var(--color-grey);
    background-color: transparent;
    line-height: 2.625rem;
}

.form__consent {
    margin-top: 30px;
}

.form__checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.375rem;
}

.form__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.form__checkbox .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--color-white);
    border: 1px solid var(--color-grey);
    border-radius: 4px;
}

.form__checkbox input:checked ~ .checkbox {
    background-image: url(../assets/Checkmark.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.form__checkbox .consent__text {
    margin: 0 10px;
    font-family: var(--font-open-sans);
    font-size: 0.75rem;
    color: var(--color-grey);
    line-height: 17px;
}

.form .btn {
    background-color: var(--color-primary);
    font-size: 0.8125rem;
    padding: 20px 97px;
    align-self: flex-end;
    margin-top: 20px;
}

/*footer*/

.footer {
    box-shadow: 0 -5px 40px #00000029;
    padding: 20px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer__copy {
    font-family: var(--font-open-sans);
    font-size: 0.6875rem;
    line-height: 1.5rem;
    color: var(--color-grey);
    margin-top: 6px;
}

.footer__icons a:first-of-type {
    margin-right: 25px;
}
